<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zt.sys.authority.mapper.SysColumnscontrollerMapper">

    <resultMap id="BaseResultMap" type="com.zt.sys.authority.entity.SysColumnsModel">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="dataName" property="dataName" jdbcType="VARCHAR" />
        <result column="cloumnName" property="cloumnName" jdbcType="VARCHAR" />
        <result column="roleId" property="roleId" jdbcType="VARCHAR" />
        <result column="sourceId" property="sourceId" jdbcType="VARCHAR" />
        <result column="createUser" property="createUser" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>


    <delete id="deleteColumn" parameterType="com.zt.sys.authority.entity.DataCommonModel">
        delete from sys_columnscontroller where roleId = #{roleId}
        and sourceId = #{resourceId}
    </delete>

    <!--保存-->
    <insert id="saveColumn" parameterType="com.zt.sys.authority.entity.SysColumnsModel">
        insert into sys_columnscontroller(
          dataName,cloumnName,roleId,sourceId,createUser,createTime
        ) values (
          #{dataName},#{cloumnName},#{roleId},#{sourceId},#{createUser},#{createTime}
        )
    </insert>

    <select id="selectByRoleIdAndResourceId" parameterType="java.util.Map"
            resultMap="BaseResultMap">
        select * from sys_columnscontroller
        where roleId = #{roleId} and sourceId = #{resourceId}
    </select>
</mapper>
