<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zt.sys.authority.mapper.SysDatacontrollerMapper">

    <resultMap id="BaseResultMap" type="com.zt.sys.authority.entity.SysDatacontroller">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="roleId" property="roleId" jdbcType="VARCHAR" />
        <result column="resourceId" property="resourceId" jdbcType="VARCHAR" />
        <result column="dataValue" property="dataValue" jdbcType="VARCHAR" />
        <result column="dataType" property="dataType" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="createUser" property="createUser" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>


    <insert id="saveData" parameterType="com.zt.sys.authority.entity.SysDatacontroller">
        insert into sys_datacontroller (
          roleId,resourceId,dataValue,dataType,name,createUser,createTime
        ) values (
          #{roleId},#{resourceId},#{dataValue},#{dataType},#{name},#{createUser},#{createTime}
        )
    </insert>
</mapper>
